
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="@Href("~/index.cshtml")">CPSC1517</a>
    </div>
    <ul class="nav navbar-nav">
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Excercises <symbol class="caret"></symbol>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Href("~/ExcercisePages/Excercise01.cshtml")">Excercise01</a></li>
                <li><a href="@Href("~/ExcercisePages/Excercise02.cshtml")">Excercise02</a></li>
                <li><a href="@Href("~/ExcercisePages/Excercise03.cshtml")">Excercise03</a></li>
                <li><a href="@Href("~/ExcercisePages/Excercise04_A.cshtml")">Excercise04</a></li>
            </ul>
        </li>
    </ul>
</div>

